In [1]:
import os
import json
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

In [3]:
DATA_DIR = '/mnt/data/inature'

In [4]:
!ls $DATA_DIR -l

total 193648
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users   420713 Apr 17 02:37 kaggle_sample_submission.csv
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users     1453 Apr 17 03:27 resize.py
drwxr-xr-x 2 FAREAST.chec FAREAST.domain users  2170880 Mar  8 05:59 test2019
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users  5435872 Apr 17 02:37 test2019.json
drwxr-xr-x 2 FAREAST.chec FAREAST.domain users  2609152 Apr 17 03:39 test_224
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users 98077991 Apr 17 09:53 train2019_formatted.json
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users 59771647 Apr 17 02:37 train2019.json
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users 28934235 Apr 17 10:19 train.csv
drwxr-xr-x 8 FAREAST.chec FAREAST.domain users     4096 Mar  8 02:55 train_val2019
drwxr-xr-x 8 FAREAST.chec FAREAST.domain users     4096 Apr 17 03:33 train_val_224
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users   836060 Apr 17 02:37 val2019.json

In [5]:
train_file = os.path.join(DATA_DIR, 'val2019.json')

In [6]:
with open(train_file, 'r') as f:
    train_data = json.load(f)

In [7]:
train_data.keys()

dict_keys(['annotations', 'images', 'info', 'licenses', 'categories'])

In [8]:
with open(os.path.join(DATA_DIR, 'val2019_formatted.json'), 'w') as f:
    json.dump(train_data, f, indent=4)

In [9]:
print(len(train_data['annotations']), len(train_data['images']), len(train_data['categories']))

3030 3030 1010

In [10]:
df_image = pd.DataFrame(train_data['images'])
df_image.head()

,file_name,height,id,license,rights_holder,width
0,train_val2019/Plants/644/716a69838526f3ada3b2f...,618,265213,3,Adrian Stewart,800
1,train_val2019/Plants/597/0942cc64d2e759c5ee059...,600,265214,3,張恒嘉,800
2,train_val2019/Plants/883/acfdbfd9fa675f1c84558...,800,265215,3,Steve Kinne,600
3,train_val2019/Birds/300/5f3194ff536c7dd31d80b7...,533,265216,3,Martin Grimm,800
4,train_val2019/Plants/881/76acaf0b2841f91982d21...,506,265217,3,roy pilcher,800

In [11]:
len(df_image)

3030

In [12]:
df_annotation = pd.DataFrame(train_data['annotations'])
df_annotation.head()

   category_id      id  image_id
0          644  265213    265213
1          597  265214    265214
2          883  265215    265215
3          300  265216    265216
4          881  265217    265217

In [13]:
len(df_annotation[df_annotation.id != df_annotation.image_id])

0

In [14]:
df_train = pd.merge(df_image, df_annotation, on='id')
df_train.head()

,file_name,height,id,license,rights_holder,width,category_id,image_id
0,train_val2019/Plants/644/716a69838526f3ada3b2f...,618,265213,3,Adrian Stewart,800,644,265213
1,train_val2019/Plants/597/0942cc64d2e759c5ee059...,600,265214,3,張恒嘉,800,597,265214
2,train_val2019/Plants/883/acfdbfd9fa675f1c84558...,800,265215,3,Steve Kinne,600,883,265215
3,train_val2019/Birds/300/5f3194ff536c7dd31d80b7...,533,265216,3,Martin Grimm,800,300,265216
4,train_val2019/Plants/881/76acaf0b2841f91982d21...,506,265217,3,roy pilcher,800,881,265217

In [15]:
df_train['types'] = df_train['file_name'].map(lambda x: x.split('/')[1])
df_train.head()

,file_name,height,id,license,rights_holder,width,category_id,image_id,types
0,train_val2019/Plants/644/716a69838526f3ada3b2f...,618,265213,3,Adrian Stewart,800,644,265213,Plants
1,train_val2019/Plants/597/0942cc64d2e759c5ee059...,600,265214,3,張恒嘉,800,597,265214,Plants
2,train_val2019/Plants/883/acfdbfd9fa675f1c84558...,800,265215,3,Steve Kinne,600,883,265215,Plants
3,train_val2019/Birds/300/5f3194ff536c7dd31d80b7...,533,265216,3,Martin Grimm,800,300,265216,Birds
4,train_val2019/Plants/881/76acaf0b2841f91982d21...,506,265217,3,roy pilcher,800,881,265217,Plants

In [16]:
df_train.to_csv(os.path.join(DATA_DIR, 'val.csv'), index=False)

In [18]:
len(df_train.category_id.unique())

1010

In [19]:
df_train.category_id.value_counts()[:10]

1009    3
662     3
688     3
686     3
684     3
682     3
680     3
678     3
676     3
674     3
Name: category_id, dtype: int64