In [1]:
import os
import json
import pandas as pd
import numpy as np

In [21]:
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

In [2]:
DATA_DIR = '/mnt/data/inature'

In [4]:
!ls $DATA_DIR -l

total 69608
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users   420713 Apr 17 02:37 kaggle_sample_submission.csv
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users     1453 Apr 17 03:27 resize.py
drwxr-xr-x 2 FAREAST.chec FAREAST.domain users  2170880 Mar  8 05:59 test2019
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users  5435872 Apr 17 02:37 test2019.json
drwxr-xr-x 2 FAREAST.chec FAREAST.domain users  2609152 Apr 17 03:39 test_224
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users 59771647 Apr 17 02:37 train2019.json
drwxr-xr-x 8 FAREAST.chec FAREAST.domain users     4096 Mar  8 02:55 train_val2019
drwxr-xr-x 8 FAREAST.chec FAREAST.domain users     4096 Apr 17 03:33 train_val_224
-rw-r--r-- 1 FAREAST.chec FAREAST.domain users   836060 Apr 17 02:37 val2019.json

In [5]:
train_file = os.path.join(DATA_DIR, 'train2019.json')

In [6]:
with open(train_file, 'r') as f:
    train_data = json.load(f)

In [8]:
train_data.keys()

dict_keys(['info', 'annotations', 'categories', 'licenses', 'images'])

In [10]:
with open(os.path.join(DATA_DIR, 'train2019_formatted.json'), 'w') as f:
    json.dump(train_data, f, indent=4)

In [11]:
print(len(train_data['annotations']), len(train_data['images']), len(train_data['categories']))

265213 265213 1010

In [12]:
df_image = pd.DataFrame(train_data['images'])
df_image.head()

,file_name,height,id,license,rights_holder,width
0,train_val2019/Plants/400/d1322d13ccd856eb4236c...,800,0,3,sydneyspicer,600
1,train_val2019/Plants/570/15edbc1e2ef000d8ace48...,533,1,3,ecoexplore_wnc,800
2,train_val2019/Reptiles/167/c87a32e8927cbf4f06d...,600,2,3,genevievec,800
3,train_val2019/Birds/254/9fcdd1d37e96d8fd94dfdc...,533,3,3,Donna Pomeroy,800
4,train_val2019/Plants/739/ffa06f951e99de9d220ae...,600,4,3,plantcollector,800

In [34]:
df_image.tail()

,file_name,height,id,license,rights_holder,width
265208,train_val2019/Birds/223/ebf4f99d55fb0071c49e08...,600,265208,2,Matt Muir,800
265209,train_val2019/Reptiles/188/cb0600062644540aaf2...,600,265209,3,lenrely,800
265210,train_val2019/Insects/70/bfd566f9ae5177f5f2b52...,600,265210,3,Thomas Koffel,800
265211,train_val2019/Plants/587/59c3e60d021606bf352de...,800,265211,3,maryjane1216,600
265212,train_val2019/Birds/287/99da04ba30e67391f9a35b...,600,265212,3,Jon McIntyre,800

In [13]:
len(df_image)

265213

In [14]:
df_annotation = pd.DataFrame(train_data['annotations'])
df_annotation.head()

   category_id  id  image_id
0          400   0         0
1          570   1         1
2          167   2         2
3          254   3         3
4          739   4         4

In [16]:
len(df_annotation[df_annotation.id != df_annotation.image_id])

0

In [18]:
df_train = pd.merge(df_image, df_annotation, on='id')
df_train.head()

,file_name,height,id,license,rights_holder,width,category_id,image_id
0,train_val2019/Plants/400/d1322d13ccd856eb4236c...,800,0,3,sydneyspicer,600,400,0
1,train_val2019/Plants/570/15edbc1e2ef000d8ace48...,533,1,3,ecoexplore_wnc,800,570,1
2,train_val2019/Reptiles/167/c87a32e8927cbf4f06d...,600,2,3,genevievec,800,167,2
3,train_val2019/Birds/254/9fcdd1d37e96d8fd94dfdc...,533,3,3,Donna Pomeroy,800,254,3
4,train_val2019/Plants/739/ffa06f951e99de9d220ae...,600,4,3,plantcollector,800,739,4

In [19]:
df_train['types'] = df_train['file_name'].map(lambda x: x.split('/')[1])
df_train.head()

,file_name,height,id,license,rights_holder,width,category_id,image_id,types
0,train_val2019/Plants/400/d1322d13ccd856eb4236c...,800,0,3,sydneyspicer,600,400,0,Plants
1,train_val2019/Plants/570/15edbc1e2ef000d8ace48...,533,1,3,ecoexplore_wnc,800,570,1,Plants
2,train_val2019/Reptiles/167/c87a32e8927cbf4f06d...,600,2,3,genevievec,800,167,2,Reptiles
3,train_val2019/Birds/254/9fcdd1d37e96d8fd94dfdc...,533,3,3,Donna Pomeroy,800,254,3,Birds
4,train_val2019/Plants/739/ffa06f951e99de9d220ae...,600,4,3,plantcollector,800,739,4,Plants

In [20]:
df_train.to_csv(os.path.join(DATA_DIR, 'train.csv'), index=False)

In [38]:
len(df_train.category_id.unique())

1010